body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;  
  background-color: #2671b9;
}

.body-header{
  display: flex;
  margin-top: 20px;
  background-color: #fcc916;
  border-radius: 30px;
  margin-bottom: 20px;
}
 
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 60%;
  font-size: 2.5em;
}

.nav-links {
  display: flex; 
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

.search-function {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1900px;
}

.header {
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
  height: 160px;
  width: 80%;
  margin: 0 auto;
  font-size: 2.5em;
  margin-top: 20px;
}

form {
  margin-bottom: 50px;
}

select {
  font-size: large;
  margin-left: 5px;
  margin-right: 5px;
}
input {
  font-size: large;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
button {
  font-size: large;
  margin-left: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.pokemon-body {
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-render {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  margin: 25px;
  font-size: x-large;
  background-color: #664596;
  color: white;
  text-transform: capitalize;
  list-style: none;
  text-decoration: none !important;
}

.text-render {
  text-decoration: none !important;
  list-style: none;

}

.pokemon-img {
  width: 240px;
  height: 240px;
  margin: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  height: 25px;
  padding-right: 50px;
  position: sticky;
  bottom: 0px;
  text-align: right;
  background-color: #fcc916;
}

.details-render {
  display: flex;
}

.details-creature {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
}

.details-img {
  object-fit: cover;
  height: 400px;
  width: 400px;
}

.details-pokemon-stats-body {
  display: flex;
  flex-direction: row;
}

.details-text-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-style: solid;
}

.details-stats {
  text-align: center;
}

.details-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.stats-grid {
  grid-column-start: 1;

}

.stat {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.value-grid {
  grid-column-start: 1;
  border-style: solid;
}

.value {
  padding: 20px;
  font-size: 25px;
  text-align: center;
}