body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
 
.nav-bar {
  height: 100px;
  width: 200px;
  float: left;
  border-color: black;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2671b9;
}

.search-function {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1900px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: grey;
  background-color: #fcc916;
}

.pokemon-body {
  display: flex;
  width: 1900px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-render {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  margin: 25px;
  font-size: larger;
  background-color: #664596;
  color: white;
}

.pokemon-img {
  width: 240px;
  height: 240px;
  margin: 15px;
}